qrcode==7.3.1
Telethon @ git+https://github.com/kshubham506/Telethon@b1984615afc684e1182ff82674dcfc0a43ed5cd9
requests==2.27.1
Pillow==9.0.0
python-socks==1.2.4
async_timeout==4.0.2
prettytable==3.0.0
librouteros==3.2.1